@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,600i,700");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  background: #FFFFFF; }

input, button {
  font-family: "Raleway", Sans-serif; }

a {
  text-decoration: none; }

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

#Error {
  text-align: center; }
  #Error a {
    width: 600px;
    margin-top: 10px;
    color: #fff;
    background: #F37C20;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600; }
  #Error .logo img {
    margin-top: 20px;
    width: 60px; }
  #Error .error404 img {
    width: 400px; }

header {
  background: #fff; }
  header .menu {
    padding: 10px 0;
    text-align: right;
    background: #F37C20; }
    header .menu a {
      display: inline-block;
      padding: 0 20px;
      -webkit-text-transform: uppercase;
      -moz-text-transform: uppercase;
      -ms-text-transform: uppercase;
      -o-text-transform: uppercase;
      text-transform: uppercase;
      border-right: 2px solid #FFFFFF;
      color: #FFFFFF;
      font-weight: 600;
      font-size: 1em; }
      header .menu a#mis-platos {
        border: 0; }
      header .menu a:hover {
        color: #231F20; }
    header .menu .container {
      position: relative; }
      header .menu .container #platos {
        position: absolute;
        background: #FFFFFF;
        z-index: 9998;
        top: 28px;
        right: 0;
        max-height: 300px;
        overflow-y: scroll;
        display: none;
        border: 1px solid #CFCFCF;
        padding: 10px 20px 0 20px; }
        header .menu .container #platos a {
          color: #231F20; }
        header .menu .container #platos table {
          max-height: 200px; }
          header .menu .container #platos table tr td {
            padding: 5px;
            vertical-align: middle;
            font-weight: 300;
            text-align: left; }
            header .menu .container #platos table tr td:nth-child(3) {
              padding-right: 50px; }
            header .menu .container #platos table tr td img {
              width: 80px;
              max-height: 80px; }
  header .submenu {
    display: flex;
    padding: 10px 0;
    justify-content: space-between; }
    header .submenu .logo a img {
      width: 60px; }
    header .submenu nav {
      display: flex;
      align-items: center; }
      header .submenu nav a {
        display: inline-block;
        padding: 0 20px;
        -webkit-text-transform: uppercase;
        -moz-text-transform: uppercase;
        -ms-text-transform: uppercase;
        -o-text-transform: uppercase;
        text-transform: uppercase;
        border-right: 2px solid #F37C20;
        color: #231F20;
        font-weight: 600; }
        header .submenu nav a:last-child {
          border: 0; }
        header .submenu nav a:hover {
          color: #8E8D8D; }

#ncode .banner {
  position: relative;
  overflow: hidden; }
  #ncode .banner video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #ncode .banner .banner-content {
    z-index: 100;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 100px 0; }
    #ncode .banner .banner-content .banner-text h2 {
      font-weight: 400;
      color: #231F20;
      border-bottom: 2px solid #231F20;
      padding-bottom: 10px;
      font-size: 2em;
      display: inline-block;
      margin: 0; }
    #ncode .banner .banner-content .banner-text p {
      color: #231F20;
      font-size: 1.5em;
      font-weight: 300; }
    #ncode .banner .banner-content .banner-text a {
      color: #F37C20;
      background: transparent;
      padding: 5px 30px;
      font-weight: 400;
      border: 2px solid #F37C20;
      font-size: 1.2em;
      display: inline-block;
      margin-top: 20px; }
      #ncode .banner .banner-content .banner-text a:hover {
        background: rgba(255, 255, 255, 0.5); }
#ncode .service {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #ncode .service .services {
    width: 25%;
    text-align: center;
    padding: 0 10px;
    border-right: 2px solid #F37C20; }
    #ncode .service .services:last-child {
      border: 0; }
    #ncode .service .services h3, #ncode .service .services p {
      margin: 20px 0 0 0;
      font-size: 1em; }
    #ncode .service .services h3 {
      font-weight: 600; }
    #ncode .service .services p {
      font-weight: 300; }
    #ncode .service .services img {
      height: 40px; }
#ncode .slider {
  text-align: center;
  background: #FFFFFF;
  padding: 30px 0; }
  #ncode .slider h2 {
    border-bottom: 1px solid #F37C20;
    margin: 0 0 30px 0;
    padding-bottom: 5px;
    display: inline-block;
    font-weight: 400;
    font-size: 2em; }
  #ncode .slider .slides {
    width: 90%;
    margin: auto; }
    #ncode .slider .slides .slick-f4u-left, #ncode .slider .slides .slick-f4u-right {
      color: #F37C20;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 90px;
      cursor: pointer; }
    #ncode .slider .slides .slick-f4u-left {
      left: -50px; }
    #ncode .slider .slides .slick-f4u-right {
      right: -50px; }
    #ncode .slider .slides img {
      width: 100%;
      height: 230px; }
    #ncode .slider .slides .this-week {
      margin: 10px;
      text-align: left;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
      #ncode .slider .slides .this-week .thumb {
        padding: 10px; }
      #ncode .slider .slides .this-week h3, #ncode .slider .slides .this-week p {
        margin: 0;
        color: #231F20;
        font-size: 1em; }
      #ncode .slider .slides .this-week h3 {
        font-weight: 600;
        display: inline-block;
        margin-bottom: 5px; }
      #ncode .slider .slides .this-week p {
        font-weight: 400; }
#ncode .options {
  width: 100%; }
  #ncode .options .option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #ncode .options .option .link-platos {
      width: 50%;
      background: #62842F; }
      #ncode .options .option .link-platos .content {
        float: right;
        width: 100%; }
      #ncode .options .option .link-platos a:hover {
        color: #62842F;
        background: rgba(255, 255, 255, 0.8); }
    #ncode .options .option .link-mas {
      width: 50%;
      background: #8A551E; }
      #ncode .options .option .link-mas a:hover {
        color: #8A551E;
        background: rgba(255, 255, 255, 0.8); }
    #ncode .options .option .content {
      max-width: 500px;
      padding: 30px 20px; }
      #ncode .options .option .content h2, #ncode .options .option .content p, #ncode .options .option .content a {
        color: #FFFFFF; }
      #ncode .options .option .content h2 {
        font-weight: 600;
        margin: 0 0 10px 0; }
      #ncode .options .option .content p {
        font-weight: 300;
        font-size: 1em;
        margin: 0 0 20px 0; }
      #ncode .options .option .content a {
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid #FFFFFF;
        font-size: 1em;
        font-weight: 600; }
#ncode .articles {
  padding: 30px 0;
  text-align: center; }
  #ncode .articles h2 {
    border-bottom: 1px solid #F37C20;
    margin: 0 0 30px 0;
    padding-bottom: 5px;
    display: inline-block;
    font-weight: 400;
    font-size: 2em; }
  #ncode .articles .blog {
    display: flex;
    text-align: left; }
    #ncode .articles .blog article {
      width: 50%;
      padding: 20px; }
    #ncode .articles .blog img {
      width: 100%;
      margin-bottom: 10px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
    #ncode .articles .blog h3, #ncode .articles .blog p {
      text-align: left;
      margin: 0; }
    #ncode .articles .blog h3 {
      display: inline-block;
      border-bottom: 1px solid #231F20;
      margin: 15px 0; }
    #ncode .articles .blog p {
      text-align: justify; }
    #ncode .articles .blog a {
      color: #231F20;
      font-weight: 600; }
#ncode .nuestros-platos {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }
  #ncode .nuestros-platos .plato {
    width: 32%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px; }
    #ncode .nuestros-platos .plato .plate-description {
      padding: 10px; }
      #ncode .nuestros-platos .plato .plate-description h3 {
        font-weight: 600;
        margin: 0 0 5px 0; }
      #ncode .nuestros-platos .plato .plate-description p {
        font-weight: 300;
        margin: 0; }
    #ncode .nuestros-platos .plato .plato-img {
      position: relative;
      overflow: hidden; }
      #ncode .nuestros-platos .plato .plato-img .plato-accion {
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%); }
      #ncode .nuestros-platos .plato .plato-img .plato-btn {
        z-index: 100;
        position: relative;
        background-color: rgba(255, 255, 255, 0.7);
        margin: 150px 0 10px 0;
        padding: 20px 20px 20px 0;
        text-align: right; }
        #ncode .nuestros-platos .plato .plato-img .plato-btn a {
          color: #F37C20;
          padding: 2px 15px;
          border: 1px solid #F37C20;
          border-radius: 5px;
          font-size: 1em;
          font-weight: 600; }
          #ncode .nuestros-platos .plato .plato-img .plato-btn a:hover {
            background: #F37C20;
            color: #FFFFFF; }
#ncode .como-funciona {
  padding: 30px 0; }
  #ncode .como-funciona .funcion {
    display: flex;
    border-bottom: 2px solid #FFFFFF; }
    #ncode .como-funciona .funcion .icono {
      width: 10%;
      background: #F37C20;
      padding: 20px;
      display: flex;
      align-items: center; }
      #ncode .como-funciona .funcion .icono img {
        width: 100%; }
    #ncode .como-funciona .funcion .descripcion {
      width: 60%;
      padding: 20px; }
      #ncode .como-funciona .funcion .descripcion h3 {
        color: #F37C20; }
      #ncode .como-funciona .funcion .descripcion p {
        font-weight: 300;
        line-height: 23px;
        font-size: 1em;
        text-align: justify; }
    #ncode .como-funciona .funcion .imagen {
      width: 30%;
      display: flex;
      align-items: center; }
      #ncode .como-funciona .funcion .imagen img {
        width: 100%; }
  #ncode .como-funciona .faq {
    text-align: center;
    background: #82A153;
    padding: 30px 0; }
    #ncode .como-funciona .faq label, #ncode .como-funciona .faq a {
      color: #FFFFFF; }
    #ncode .como-funciona .faq label {
      margin-right: 20px;
      font-weight: 600; }
    #ncode .como-funciona .faq a {
      border: 1px solid #FFFFFF;
      padding: 5px 20px;
      border-radius: 5px; }
#ncode .nosotros {
  text-align: center;
  padding: 30px 0; }
  #ncode .nosotros h2 {
    border-bottom: 1px solid #F37C20;
    margin: 0 0 30px 0;
    padding-bottom: 5px;
    display: inline-block;
    font-weight: 400;
    font-size: 2em; }
  #ncode .nosotros p {
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 300; }
  #ncode .nosotros .nosotros-img {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
#ncode .ver-platos {
  background: #8a551e;
  padding: 25px 0; }
  #ncode .ver-platos label, #ncode .ver-platos a {
    color: #FFFFFF; }
  #ncode .ver-platos label {
    margin-right: 10px;
    font-weight: 400; }
  #ncode .ver-platos a {
    padding: 5px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 1em; }
#ncode .plate {
  display: flex;
  padding: 20px 0; }
  #ncode .plate .img-plate {
    padding-right: 20px; }
    #ncode .plate .img-plate img {
      width: 400px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
  #ncode .plate .description-plate h2 {
    margin: 0 0 10px 0; }
  #ncode .plate .description-plate p {
    margin: 0; }
  #ncode .plate .description-plate > p {
    margin: 0 0 10px 0; }
  #ncode .plate .description-plate input[type="number"] {
    border: 0;
    padding: 5px;
    background: #f2f2f2;
    width: 80px; }
  #ncode .plate .description-plate input[type="submit"] {
    background: #FFFFFF;
    border: 2px solid #F37C20;
    color: #F37C20;
    padding: 2px 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600; }
  #ncode .plate .description-plate #tabs-plate > ul {
    padding: 0;
    margin: 20px 0 0 0; }
    #ncode .plate .description-plate #tabs-plate > ul li {
      list-style: none;
      display: inline-block; }
      #ncode .plate .description-plate #tabs-plate > ul li a {
        padding: 10px;
        display: inline-block;
        color: #231F20;
        border: 1px solid #F37C20;
        border-bottom: 0;
        font-weight: 600; }
        #ncode .plate .description-plate #tabs-plate > ul li a.active {
          background: #F37C20;
          color: #FFFFFF; }
  #ncode .plate .description-plate #tabs-1, #ncode .plate .description-plate #tabs-2 {
    border: 1px solid #F37C20;
    padding: 10px;
    height: 150px;
    width: 500px;
    overflow-y: scroll; }
#ncode .profile #tabs {
  display: flex;
  border: 0; }
  #ncode .profile #tabs ul {
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    background: transparent;
    border: 0; }
    #ncode .profile #tabs ul li {
      list-style: none;
      width: 100%;
      border: 0; }
      #ncode .profile #tabs ul li a {
        color: #FFFFFF;
        background: #F37C20;
        display: block;
        width: 100%;
        padding: 10px 0;
        font-weight: 400;
        font-size: 1em;
        border-bottom: 1px solid #FFFFFF; }
  #ncode .profile #tabs .content-profile {
    padding: 10px;
    width: 800px; }
    #ncode .profile #tabs .content-profile h2 {
      margin: 0; }
    #ncode .profile #tabs .content-profile .form-profile form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      #ncode .profile #tabs .content-profile .form-profile form .group-input {
        width: 49%; }
        #ncode .profile #tabs .content-profile .form-profile form .group-input label {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          color: #F37C20;
          font-weight: 600; }
        #ncode .profile #tabs .content-profile .form-profile form .group-input input[type="text"],
        #ncode .profile #tabs .content-profile .form-profile form .group-input input[type="email"],
        #ncode .profile #tabs .content-profile .form-profile form .group-input input[type="password"] {
          width: 100%;
          margin-bottom: 10px;
          background: #F2F2F2;
          border: 0;
          padding: 5px; }

footer {
  background: #B8BEBF; }
  footer .mail {
    padding: 40px 0;
    text-align: center;
    background: #ececec; }
    footer .mail label {
      font-weight: 400; }
    footer .mail input {
      font-size: 1em;
      line-height: 1.6em;
      padding: 5px 10px;
      margin-left: 10px;
      width: 250px;
      font-weight: 300;
      border: 0; }
  footer .social {
    text-align: center;
    padding: 20px 0 10px 0; }
    footer .social a {
      color: #FFFFFF;
      margin: 0 20px; }
      footer .social a.facebook:hover {
        color: #3B5998; }
      footer .social a.twitter:hover {
        color: #54ABEE; }
      footer .social a.instagram:hover {
        color: #9D7144; }
      footer .social a.youtube:hover {
        color: #EC2828; }
  footer .copyright {
    text-align: center;
    padding: 10px 0 20px 0; }
    footer .copyright h3 {
      color: #FFFFFF;
      font-weight: 600;
      font-size: 1em; }

#login {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  padding-top: 50px;
  display: none; }
  #login .form-login {
    margin: 0 auto;
    background: #FFFFFF;
    width: 700px; }
    #login .form-login .content-form {
      display: flex; }
    #login .form-login .item {
      flex-basis: 100%;
      text-align: center;
      padding: 10px 40px; }
      #login .form-login .item h2 {
        color: #F37C20;
        font-weight: 600;
        -webkit-text-transform: uppercase;
        -moz-text-transform: uppercase;
        -ms-text-transform: uppercase;
        -o-text-transform: uppercase;
        text-transform: uppercase; }
      #login .form-login .item input, #login .form-login .item label, #login .form-login .item button[type="submit"], #login .form-login .item a {
        width: 100%;
        margin-bottom: 20px; }
      #login .form-login .item button[type="submit"] {
        background: #F37C20;
        border: 0;
        color: #FFFFFF;
        padding: 10px 0;
        -webkit-text-transform: uppercase;
        -moz-text-transform: uppercase;
        -ms-text-transform: uppercase;
        -o-text-transform: uppercase;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        cursor: pointer; }
      #login .form-login .item input {
        border: 1px solid #F37C20;
        padding: 10px;
        font-size: 0.8em;
        color: #231F20;
        font-weight: 400; }
      #login .form-login .item label, #login .form-login .item a {
        display: inline-block;
        font-size: 1em;
        font-weight: 400;
        color: #F37C20; }
    #login .form-login .close {
      display: flex;
      justify-content: end;
      padding: 20px 40px 0 0; }
      #login .form-login .close a {
        color: #231F20; }
        #login .form-login .close a:hover {
          color: #8E8D8D; }

.ui-widget {
  font-family: "Raleway", Sans-serif; }

#ncode .profile #tabs ul li.ui-tabs-active a {
  color: #FFFFFF;
  background: #231F20; }

#calculator {
  padding: 30px 0; }
  #calculator .calculator-content {
    display: flex;
    justify-content: space-between; }
    #calculator .calculator-content > div {
      width: 32%;
      border: 1px solid #F37C20;
      padding: 10px; }
    #calculator .calculator-content h2 {
      text-align: center;
      color: #FFFFFF;
      background: #F37C20;
      padding: 10px 0;
      margin: 0 0 10px 0;
      font-size: 1em;
      font-weight: 600; }
    #calculator .calculator-content select {
      width: 100%;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #F37C20; }

#message {
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #222;
  padding: 10px 20px;
  border-radius: 20px;
  display: none;
  z-index: 9999; }
  #message p {
    margin: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600; }

@media screen and (max-width: 800px) {
  header .menu {
    text-align: center; }
  header .submenu {
    display: block; }
    header .submenu .logo {
      width: 100%;
      text-align: center; }

  #ncode .service .services {
    width: 50%;
    border: 0;
    margin-top: 30px; }
  #ncode .options .option .content {
    max-width: 100%;
    padding: 30px 0; }
  #ncode .options .option .link-platos, #ncode .options .option .link-mas {
    width: 100%; }
    #ncode .options .option .link-platos .content, #ncode .options .option .link-mas .content {
      float: none;
      text-align: center;
      padding: 20px; }
  #ncode .articles .blog {
    display: block; }
    #ncode .articles .blog article {
      width: 100%; }
  #ncode .nuestros-platos .plato {
    width: 49%;
    margin-bottom: 15px; }
  #ncode .como-funciona .funcion {
    display: block;
    border-bottom: 0;
    margin-bottom: 30px; }
    #ncode .como-funciona .funcion .icono {
      justify-content: center;
      width: 100%; }
      #ncode .como-funciona .funcion .icono img {
        width: 20%; }
    #ncode .como-funciona .funcion .descripcion {
      width: 100%; }
    #ncode .como-funciona .funcion .imagen {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
